body{
    margin-top: 20px;
    counter-reset: counter_name toc; /* set counter to 0 */
    letter-spacing: 0.3;
}

h3{
    margin: 40px 0;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin: 4em auto;
    padding: 20px;
    width: auto;
}

.toc_list a{
    text-decoration: none;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.count_header::before {
    counter-increment: counter_name;
    content: counter(counter_name) ". ";
}

.toc_list > li > a::before {
    counter-increment: toc;
    content: counter(toc) ". ";
}

.header{
    text-align: center;
    margin: 60px;
}

.btn{
    margin: 10px;
}